/* .tab {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.tab:hover {
    border-bottom: 1px solid #000000;
    cursor: pointer;
}

.tab.selected {
    border-bottom: 1px solid #000000;
} */